@model List<OnlineShop.Core.Database.Album>

@{
    ViewBag.Title = "ASP.NET MVC Music Store";
}

<div id="promotion"></div>
<h3><em>Fresh</em> off the grill</h3>
<div id="main" ng-controller="HomeCtrl">
    <ul id="album-list">
        <li ng-repeat="album in albums.albums">
            <a ng-href="@Url.Action("Details", "Store")/{{album.id}}">
                <img alt="{{album.title}}" src="{{album.albumArtUrl}}" />
                <span>{{album.title}}</span>
            </a>
        </li>
    </ul>
</div>

<script src="~/Content/js/home-controller.js"></script>